* {
  margin: 0px;
  padding: 0px;
}

/* Spacer equal to navbar height + gap */
.nav-spacer {
  height: 52px; /* same as navbar height + extra top margin */
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-section {
  width: 90%; /* same as NavbarItems */
  background: #f9f9f9;
  border-radius: 9px;
  /* padding: 10px; */
  margin-top: 20px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.FooterDashboard {
  margin-top: 0px;
  width: 90%;
  padding: 10px 0;
  text-align: center;
  background: #ffffff;
  border-radius: 9px;
}
.data-not-found-Dash {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px !important;
  height: 78vh;
  width: 100%;
}
